In [1]:
from sqlalchemy import Table, Integer, create_engine, String, Column, ForeignKey
from sqlalchemy.orm import declarative_base, relationship
from sqlalchemy import insert, select
from sqlalchemy.orm import Session

In [2]:
engine = create_engine("postgresql://postgres:password@localhost:5432", echo=True)
Base = declarative_base()

In [3]:
#ORM APPROACH
class User(Base):
    __tablename__ = "user_account"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    full_name = Column(String)
    def __repr__(self):
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.full_name!r})"
class Address(Base):
    __tablename__ = "address"
    id = Column(Integer, primary_key = True)
    user_id = Column(Integer,ForeignKey("user_account.id"))
    email_address = Column(String, nullable=False)
    def __repr__(self):
        return f"user_id = {self.user_id}, email = {email_address}"

In [4]:
metadata = Base.metadata
metadata.create_all(engine)

2021-12-11 13:17:09,704 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2021-12-11 13:17:09,706 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-11 13:17:09,710 INFO sqlalchemy.engine.Engine select current_schema()
2021-12-11 13:17:09,712 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-11 13:17:09,716 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-12-11 13:17:09,718 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-11 13:17:09,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-11 13:17:09,724 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-11 13:17:09,726 INFO sqlalchemy.engine.Engine [generated in 0.00168s] {'name': 'user_account'}
2021-12-11 13:17:09,730 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-11 13:17:09,732 INFO sqlalchemy.engine.Engine [cached since 0.00775s ago] {'name': 'address'}
2021-12-11 13:17:09,735 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
## Create a Chips Table CORE APPROACH
### use extend_existing if table already exists in metadata but there was an update like adding new Column, or
### changing data type
chips = Table(
    "chips",
    Base.metadata,
    Column("id", Integer, primary_key = True),
    Column("name", String),
    Column("price", Integer),
    extend_existing = True
)

In [50]:
## GET ALL THE TABLES IN METADATA
for i in Base.metadata.tables.items():
    print(i[0])

user_account
address
chips

In [51]:
## Create Chips Table In Database
Base.metadata.create_all(engine)

2021-12-11 14:00:16,227 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-11 14:00:16,231 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-11 14:00:16,232 INFO sqlalchemy.engine.Engine [cached since 2587s ago] {'name': 'user_account'}
2021-12-11 14:00:16,235 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-11 14:00:16,237 INFO sqlalchemy.engine.Engine [cached since 2587s ago] {'name': 'address'}
2021-12-11 14:00:16,240 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-11 14:00:16,241 INFO sqlalchemy.engine.Engine [cached since 2587s ago] {'name': 'chips'}
2021-12-11 14:00:16,244 INFO sqlalchemy.engine.Engine COMMIT

In [68]:
## Add data to chips table core style
stmt = insert(chips).values(id = 2, name = "dingo", price = 10)
print(stmt)
with engine.connect() as conn:
    res = conn.execute(stmt)
    print(res.inserted_primary_key)

INSERT INTO chips (id, name, price) VALUES (:id, :name, :price)
2021-12-11 14:11:24,308 INFO sqlalchemy.engine.Engine INSERT INTO chips (id, name, price) VALUES (%(id)s, %(name)s, %(price)s)
2021-12-11 14:11:24,310 INFO sqlalchemy.engine.Engine [cached since 294.3s ago] {'id': 2, 'name': 'dingo', 'price': 10}
2021-12-11 14:11:24,315 INFO sqlalchemy.engine.Engine COMMIT
(2,)

In [85]:
## Select from table CORE way
stmt = select(chips).where(chips.c.price == 10)
print(stmt)
with engine.connect() as conn:
    res = conn.execute(stmt)
    for i in res:
        print(i)
        
with Session(engine) as session:
    print("with session",session.execute(stmt).all())

stmt = select(chips.c.id)
print("check", stmt)

SELECT chips.id, chips.name, chips.price
FROM chips
WHERE chips.price = :price_1
2021-12-13 12:24:09,062 INFO sqlalchemy.engine.Engine SELECT chips.id, chips.name, chips.price
FROM chips
WHERE chips.price = %(price_1)s
2021-12-13 12:24:09,064 INFO sqlalchemy.engine.Engine [cached since 2.476e+04s ago] {'price_1': 10}
(1, 'bingo', 10)
(2, 'dingo', 10)
2021-12-13 12:24:09,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-13 12:24:09,071 INFO sqlalchemy.engine.Engine SELECT chips.id, chips.name, chips.price
FROM chips
WHERE chips.price = %(price_1)s
2021-12-13 12:24:09,072 INFO sqlalchemy.engine.Engine [cached since 2.476e+04s ago] {'price_1': 10}
with session [(1, 'bingo', 10), (2, 'dingo', 10)]
2021-12-13 12:24:09,075 INFO sqlalchemy.engine.Engine ROLLBACK
check SELECT chips.id
FROM chips

In [78]:
## Select ORM way
## Session when used with ORM returns the class whose result are needed.
stmt = select(User).where(User.name == "falguni")
with engine.connect() as conn:
    res = conn.execute(stmt)
    print(res.all())   #<----------------- This will not return User class beacuse it was ran using engine execute
        
    
with Session(engine) as session:
    res = session.execute(stmt)
    print("result with class",res.all())

2021-12-11 14:17:48,232 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.full_name
FROM user_account
WHERE user_account.name = %(name_1)s
2021-12-11 14:17:48,236 INFO sqlalchemy.engine.Engine [cached since 3086s ago] {'name_1': 'falguni'}
[(1, 'falguni', 'pathak'), (2, 'falguni', 'pathak'), (3, 'falguni', 'pathak'), (4, 'falguni', 'pathak'), (5, 'falguni', 'pathak'), (6, 'falguni', 'pathak'), (7, 'falguni', 'pathak'), (8, 'falguni', 'pathak'), (9, 'falguni', 'pathak')]
2021-12-11 14:17:48,240 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-11 14:17:48,241 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.full_name
FROM user_account
WHERE user_account.name = %(name_1)s
2021-12-11 14:17:48,242 INFO sqlalchemy.engine.Engine [cached since 3086s ago] {'name_1': 'falguni'}
result with class [(User(id=1, name='falguni', fullname='pathak'),), (User(id=2, name='falguni', fullname='pathak'),), (User(id=3, name='falguni', fullname='pathak'),), (User(id=4, name='falguni', fullname='pathak'),), (User(id=5, name='falguni', fullname='pathak'),), (User(id=6, name='falguni', fullname='pathak'),), (User(id=7, name='falguni', fullname='pathak'),), (User(id=8, name='falguni', fullname='pathak'),), (User(id=9, name='falguni', fullname='pathak'),)]
2021-12-11 14:17:48,246 INFO sqlalchemy.engine.Engine ROLLBACK

In [97]:
stmt = select(User.name, User)
with Session(engine) as session:
    res = session.execute(stmt)
    for i in res:
        print(i.keys())

2021-12-13 13:44:52,683 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-13 13:44:52,686 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.id, user_account.full_name
FROM user_account
2021-12-13 13:44:52,688 INFO sqlalchemy.engine.Engine [cached since 19.68s ago] {}
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
RMKeyView(['name', 'User'])
2021-12-13 13:44:52,693 INFO sqlalchemy.engine.Engine ROLLBACK